.content h3,
.content p{
    margin-left: 15px;
    display: block;
    font-size: 12px;
}
#mainContainer{
    background-image: url("whitebackground.jfif");
    width: 440px;
}
#wrapper {
    overflow:scroll;
    height:10px;
}
#homebtn{
   background-image: linear-gradient(#0dccea, #0d70ea);
   border: 0;
   border-radius: 4px;
   box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   font-family: Montserrat,sans-serif;
   font-size: .9em;
   margin: 5px;
   padding: 10px 15px;
   text-align: center;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   font-size:12px;
}
#homebtn2{
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size:12px;
    height: 40px;
 }
.imagecontainer img {
    width: 400px;
}

#homebtn img{
    height: 24px;
    width: 24px;
}
#save {
   background-image: linear-gradient(#0dccea, #0d70ea);
   border: 0;
   border-radius: 4px;
   box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
   box-sizing: border-box;
   color: #000000;
   cursor: pointer;
   font-family: Montserrat,sans-serif;
   font-size: .9em;
   margin: 5px;
   padding: 10px 15px;
   text-align: center;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   font-size:12px;
    width: 160px;
    height: 40px;
}