#savedVehiclesContainer {
    text-align: center;
    background-image: url("whitebackground.jfif");
    margin: auto;
    width: 500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .vehicle{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
  }
  #homebtn img{
    height: 24px;
    width: 24px;
}
#homebtn{
    background-image: linear-gradient(#0dccea, #0d70ea);
   border: 0;
   border-radius: 4px;
   box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   font-family: Montserrat,sans-serif;
   font-size: .9em;
   margin: 5px;
   padding: 5px 5px;
   text-align: center;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}
  #pageTitle{
    text-align: center;
    color: blue;
    font-size: 30px;
    justify-content: center;
  }
  .vehicleImage{
    border: solid black;
    margin: auto;
    max-width: 60%;
    height: auto;
    object-fit: scale-down;
  }
  .vehicleLabel{
    text-align: center;
  }